title: Wei Dai
description: Personal website
baseurl: ""
url: "https://wdai0.github.io"

# Build settings
markdown: kramdown
kramdown:
  input: GFM
highlighter: rouge

# Site author
author:
  name: Wei Dai
  email: dwei90bd@gmail.com
  github: wdai0

# Collections
collections:
  projects:
    output: true
    permalink: /:collection/:name/

# Defaults
defaults:
  - scope:
      path: "_projects"
      type: "projects"
    values:
      layout: "default"

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .git/